.login-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.login-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
}

p {
  margin: 10px 0 !important;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}
